* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 5%;
}

.submit-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 5%;
}