.checkBtn {
    width: 50px;
    height: 50px;
}

input[type="checkbox"]:checked {
    outline: 10px solid red;
}

tbody tr:nth-child(odd) {
    background-color: pink;
}

tbody tr:first-child {
    background-color: blue;
}

tbody tr:last-child {
    background-color: green;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-size: 0;
}

.row {
    width: 50%;
    height: 50%;
    margin: 0;
}

.square {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: inline-block;
}

.left {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.center {
    border-bottom: 2px solid black;
}

.right {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.bottom {
    border-bottom: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-box {
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
    background-color: lightgray;
    border-radius: 2%;
}

input[type=text], select {
    display: inline-block;
    box-sizing: border-box;
    width: 90%;
    margin: 10px;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 2%;
}

input[type=text][name=subject] {
    padding-bottom: 400px;
}

.submit-button {
    width: 20%;
    height: 4em;
    border-radius: 10%;
    border: none;
    background-color: green;
    color: white;
}

nav {
    margin: 2em 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.7em;
}

a:hover {
    background-color: gray;
}